.html, body{
    background-color: #ccc;
}
.game-board{
    width: 500px;
    height: 500px;
    margin: 50px;
    display: grid ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}
.game-cell{
    width: 100%;
    background-color: white;
    cursor: pointer;
    display: flex   ;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-weight: bold;
}
.cell-X{
    color: red;
}
.cell-O{
    color: blue;
}